<div class="overlay" (click)="taskOverviewClose('')">
  <div class="overlay-content" (click)="stopPropagation($event)">
    <div
      class="content"
      [ngStyle]="{
        '--taskColor': findColor(taskData.color).color,
        '--taskBorderColor': findColor(taskData.color).borderColor
      }"
    >
      <div class="btn-close">
        <img
          src="./../../../../assets/img/close.svg"
          alt=""
          (click)="taskOverviewClose('')"
        />
      </div>
      <form
        (ngSubmit)="onSubmit(taskForm)"
        #taskForm="ngForm"
        onsubmit="return false"
        (keydown)="preventEnterKey($event)"
      >
        <app-form-field
          [(ngModel)]="taskData.title"
          field="input"
          name="title"
          text="Title:"
          id="title"
          type="text"
          #title="ngModel"
          [colorBg]="findColor(taskData.color).color"
          [colorBorder]="findColor(taskData.color).borderColor"
          required
        ></app-form-field>
        <app-form-field
          [(ngModel)]="taskData.description"
          field="textarea"
          name="description"
          text="Description:"
          id="description"
          type="text"
          #description="ngModel"
          [colorBg]="findColor(taskData.color).color"
          [colorBorder]="findColor(taskData.color).borderColor"
          minlength="10"
          required
        ></app-form-field>
        <div class="subtask">
          <app-form-field
            [(ngModel)]="subtaskInputValue"
            field="input"
            name="subtaskInputValue"
            text="Enter a subtask:"
            id="subtask"
            type="text"
            #subtask="ngModel"
            [colorBg]="findColor(taskData.color).color"
            [colorBorder]="findColor(taskData.color).borderColor"
            (keydown.enter)="addSubtask(subtaskInputValue)"
          ></app-form-field>
          <div class="subtask-details">
            <!-- Server subtask -->
            @for (subtask of allSubtasks; track subtask) {
            <!-- -->
            @if (subtask.id && subtask.task_id === +currentTaskId) {
            <p>
              <input
                type="checkbox"
                id="checkbox{{ subtask.id }}"
                name="checkbox"
                class="checkbox"
                [checked]="subtask.status"
                (change)="changeCheckboxSubtask(subtask.id, $event)"
              />
              {{ subtask.title }}
              <span (click)="deleteSubtask(subtask.id)"
                ><img src="./../../../../assets/img/close.svg" alt=""
              /></span>
            </p>
            } }
            <!-- Temp subtask -->
            @for (subtask of tempTaskDataSubtasks; track subtask) {
            <!-- -->
            @if (subtask.id) {
            <p>
              <input
                type="checkbox"
                id="checkbox{{ subtask.id }}"
                name="checkbox"
                class="checkbox"
                [checked]="subtask.status"
                (change)="tempChangeCheckboxSubtask(subtask.id, $event)"
              />
              {{ subtask.title }}
              <span (click)="tempDeleteSubtask(subtask.id)"
                ><img src="./../../../../assets/img/close.svg" alt=""
              /></span>
            </p>
            } }
          </div>
        </div>
        <div class="color">
          <div class="color-circle"></div>
          <app-form-field
            [(ngModel)]="taskData.color"
            field="addTaskColor"
            name="color"
            text="Switch Color:"
            id="color"
            type="text"
            class="color-form-field"
            #color="ngModel"
            [colorBg]="findColor(taskData.color).color"
            [colorBorder]="findColor(taskData.color).borderColor"
          ></app-form-field>
        </div>
        <div class="date-priority-assigned">
          <div class="date-priority">
            <div class="priority">
              <app-form-field
                [(ngModel)]="taskData.priority"
                field="addTaskPriority"
                name="priority"
                text="Priority:"
                id="priority"
                type="text"
                #priority="ngModel"
                [colorBg]="findColor(taskData.color).color"
                [colorBorder]="findColor(taskData.color).borderColor"
              ></app-form-field>
            </div>
            <div class="date">
              <input
                type="date"
                id="date"
                name="date"
                class="form-field margin-bottom-18px"
                #date="ngModel"
                [(ngModel)]="taskData.due_date"
                [attr.min]="sharedService.todaysDate()"
              />
            </div>
          </div>
          <div class="assigned">
            <app-form-field
              [(ngModel)]="startAssignedValue"
              field="addTaskAssigned"
              name="assigned"
              text="Assign someone:"
              id="assigned"
              type="text"
              #assigned="ngModel"
              (change)="addAssigned($event)"
              [allUsers]="allUsers"
              [getAllBoardMembers]="getAllBoardMembers()"
              [colorBg]="findColor(taskData.color).color"
              [colorBorder]="findColor(taskData.color).borderColor"
            ></app-form-field>
            <div class="assigned-details">
              @for (user of allUsers; track user) {
              <!-- -->
              @for (assigned of clonedTaskDataAssigned; track assigned) {
              <!-- -->
              @if (assigned == user.id) {
              <p>
                {{ user.first_name }} {{ user.last_name }}
                <span (click)="deleteAssigned(user.id)"
                  ><img src="./../../../../assets/img/close.svg" alt=""
                /></span>
              </p>
              } } }
            </div>
          </div>
        </div>
        <div class="buttons">
          @if(!isCurrentTaskIdNumber) {
          <div class="button" (click)="deleteTask()">Delete Task</div>
          }
          <button
            class="button"
            type="submit"
            [disabled]="!title.valid || !description.valid"
          >
            Save Task
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
