<div class="overlay" (click)="taskOverviewClose('')">
  <div class="overlay-content" (click)="stopPropagation($event)">
    <div
      class="content"
      [ngStyle]="{
        '--taskColor': findColor(taskData.color).color,
        '--taskBorderColor': findColor(taskData.color).borderColor
      }"
    >
      <div class="btn-close">
        <img
          src="./../../../../assets/img/close.svg"
          alt=""
          (click)="taskOverviewClose('')"
        />
      </div>
      <form
        (ngSubmit)="onSubmit(taskForm)"
        #taskForm="ngForm"
        onsubmit="return false"
        (keydown)="preventEnterKey($event)"
      >
        <input
          type="text"
          id="title"
          name="title"
          class="title-form-field"
          #title="ngModel"
          placeholder="Task name..."
          [(ngModel)]="taskData.title"
          autocomplete="off"
          required
        />
        <textarea
          id="description"
          name="description"
          class="description-form-field"
          #description="ngModel"
          minlength="10"
          placeholder="Description..."
          [(ngModel)]="taskData.description"
          autocomplete="off"
          required
        ></textarea>
        <div class="color">
          <div class="color-circle"></div>
          <select
            id="color"
            name="color"
            class="color-form-field"
            #color="ngModel"
            [(ngModel)]="taskData.color"
          >
            <option value="yellow" selected>Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="purple">Purple</option>
            <option value="magenta">Magenta</option>
            <option value="cyan">Cyan</option>
          </select>
        </div>
        <div class="subtasks-and-assigned">
          <div class="subtask">
            <input
              type="text"
              id="subtask"
              name="subtask"
              class="title-form-field"
              #subtask="ngModel"
              placeholder="Enter a subtask..."
              [(ngModel)]="subtaskInputValue"
              autocomplete="off"
              (keydown.enter)="addSubtask(subtaskInputValue)"
            />
            <div class="subtask-details">
              @for (subtask of taskData.subtasks; track subtask) {
              <!-- -->
              @if (checkSubtask(subtask) ) {
              <p>
                {{ subtask }}
                <span (click)="deleteSubtask(subtask)"
                  ><img src="./../../../../assets/img/close.svg" alt=""
                /></span>
              </p>
              } }
            </div>
          </div>
          <div class="assigned">
            <select
              id="assigned"
              name="assigned"
              class="assigned-form-field"
              #assigned="ngModel"
              (change)="addAssigned($event)"
              [(ngModel)]="startAssignedValue"
            >
              <option value="null">assign someone</option>
              @for (user of allUsers; track user) {
              <!---->
              @if (!checkAssigned(user.id)) {
              <option value="{{ user.id }}">
                {{ user.first_name }} {{ user.last_name }}
              </option>
              } }
            </select>
            <div class="assigned-details">
              @for (user of allUsers; track user) {
              <!-- -->
              @for (assigned of clonedTaskDataAssigned; track assigned) { @if
              (assigned == user.id) {
              <p>
                {{ user.first_name }} {{ user.last_name }}
                <span (click)="deleteAssigned(user.id)"
                  ><img src="./../../../../assets/img/close.svg" alt=""
                /></span>
              </p>
              } } }
            </div>
          </div>
        </div>
        <div class="buttons">
          @if(!isCurrentTaskIdNumber) {
          <div class="button" (click)="deleteTask()">Delete Task</div>
          }
          <button class="button" type="submit">Save Task</button>
        </div>
      </form>
    </div>
  </div>
</div>
