<div class="overlay" (click)="userOverviewClose('')">
  <div class="overlay-content" (click)="stopPropagation($event)">
    <div class="content">
      <div class="header">
        <div class="headline">Edit User Data</div>
        <div class="btn-close">
          <img
            src="./../../../../assets/img/close.svg"
            alt=""
            (click)="userOverviewClose('')"
          />
        </div>
      </div>
      @for (user of allUsers; track user) {
      <!-- Current User -->
      @if (user.id === authService.currentUserId) {
      <form
        id="form"
        #taskForm="ngForm"
        (ngSubmit)="onSubmit(taskForm)"
        onsubmit="return false"
      >
        <div class="input-fields">
          <app-form-field
            [(ngModel)]="userData.username"
            field="input"
            name="username"
            text="Username:"
            id="username"
            type="text"
            #username="ngModel"
            required
          ></app-form-field>
          <div class="error-msg">
            @if (!username.valid && username.touched) {
            <p>Please enter a username</p>
            } @if (dbService.errorMsg.username) {
            <p>{{ dbService.errorMsg.username }}</p>
            }
          </div>
          <app-form-field
            [(ngModel)]="userData.mail"
            field="input"
            name="mail"
            text="Mail:"
            id="mail"
            type="mail"
            #mail="ngModel"
            required
          ></app-form-field>
          <div class="error-msg">
            @if (!mail.valid && mail.touched) {
            <p>Please enter a mail</p>
            }
          </div>
          <div class="double-input-fields">
            <app-form-field
              [(ngModel)]="userData.firstName"
              field="input"
              name="firstName"
              text="First Name:"
              id="firstName"
              type="text"
              #firstName="ngModel"
              required
            ></app-form-field>
            <div class="spacer"></div>
            <app-form-field
              [(ngModel)]="userData.lastName"
              field="input"
              name="lastName"
              text="Last Name:"
              id="lastName"
              type="text"
              #lastName="ngModel"
              required
            ></app-form-field>
          </div>
          <div class="error-msg">
            @if (!firstName.valid && firstName.touched || !lastName.valid &&
            lastName.touched) {
            <p>Please enter your first and last name</p>
            }
          </div>
          <div class="double-input-fields">
            <app-form-field
              [(ngModel)]="userData.password"
              field="input"
              name="password"
              text="New Password:"
              id="password"
              type="password"
              #password="ngModel"
              pattern="[^<>]*"
              minlength="8"
            ></app-form-field>
            <div class="spacer"></div>
            <app-form-field
              [(ngModel)]="userData.passwordConfirm"
              field="input"
              name="passwordConfirm"
              text="Confirm Password:"
              id="passwordConfirm"
              type="password"
              #passwordConfirm="ngModel"
              pattern="[^<>]*"
              minlength="8"
            ></app-form-field>
          </div>
          <div class="error-msg">
            @if (userData.password.length < 8 && password.touched) {
            <p>Password is too short, min 8 characters</p>
            } @else { @if (userData.password !== userData.passwordConfirm &&
            passwordConfirm.touched) {
            <p>The passwords do not match</p>
            } }
          </div>
        </div>
        <div class="button">
          <!-- Check if it is not the guest account -->
          @if (authService.currentUserId !== authService.guestAccountUserId) {
          <app-form-btn
            [class]="'btn-submit'"
            [type]="'button'"
            (click)="deleteAccount()"
            [value]="'Delete Account'"
          ></app-form-btn>
          }
          <app-form-btn
            [class]="'btn-submit'"
            [type]="'submit'"
            [value]="'Save'"
            [disabled]="
              !username.valid ||
              !firstName.valid ||
              !lastName.valid ||
              !sharedService.isUserEmailValid(userData.mail) ||
              userData.password !== userData.passwordConfirm ||
              !isInputNew()
            "
          ></app-form-btn>
        </div>
      </form>
      } }
    </div>
  </div>
</div>
