<section>
  <div class="headline">
    <div class="burger-menu">
      <img
        src="./../../../../assets/img/menu.svg"
        alt=""
        (click)="toggleSwitchBoard(true)"
      />
    </div>
    <h1 (click)="toggleEditBoard(true)">
      {{ displayBoardData("title") }}
    </h1>
    <app-user-initials
      [allBoards]="allBoards"
      [allUsers]="allUsers"
      [circles]="'members'"
      [showAddMember]="isUserBoardAuthor() ? true : false"
      (openAddMemberOverview)="toggleAddMember($event)"
    ></app-user-initials>
  </div>
  <div class="right-corner">
    <div class="welcome">
      Welcome,
      <span (click)="userOverviewOpen(authService.currentUserId)">{{
        currentUsername()
      }}</span>
    </div>
    <div class="logout" (click)="logout()">
      <img src="./../../../../assets/img/logout.svg" alt="" />
    </div>
  </div>
</section>

@if (openEditBoard) {
<app-edit-board
  [allTasks]="allTasks"
  [allBoards]="allBoards"
  [boardOpen]="'openEditBoard'"
  (closeEditBoard)="toggleEditBoard($event)"
></app-edit-board>
}@if (openSwitchBoard) {
<app-edit-board
  [allBoards]="allBoards"
  [boardOpen]="'openSwitchBoard'"
  (closeSwitchBoard)="toggleSwitchBoard($event)"
></app-edit-board>
} @if (openAddMember) {
<app-add-member
  [allBoards]="allBoards"
  [allUsers]="allUsers"
  [allTasks]="allTasks"
  [displayBoardData]="displayBoardData"
  (closeAddMemberOverview)="toggleAddMember($event)"
></app-add-member>
}
