<section>
  <div class="headline">
    <h1 (click)="toggleEditBoard(true)">
      {{ displayBoardData("title") }}
    </h1>
    <div class="assigned">
      @for (user of allUsers; track user) {
      <!-- -->
      @for (task of allTasks; track task) {
      <!-- -->
      @for (assigned of task.assigned; track assigned) { @if (assigned ==
      user.id) {
      <div class="circle">
        <p>{{ user.first_name | initials }}{{ user.last_name | initials }}</p>
      </div>
      } } } }
    </div>
  </div>
  <div class="right-corner">
    <div class="welcome">
      Welcome,
      <span (click)="userOverviewOpen(authService.currentUserId)">{{
        currentUsername()
      }}</span>
    </div>
    <div class="logout" (click)="logout()">
      <img src="./../../../../assets/img/logout.svg" alt="" />
    </div>
  </div>
</section>

@if (openEditBoard) {
<app-edit-board
  [allBoards]="allBoards"
  (closeEditBoard)="toggleEditBoard($event)"
></app-edit-board>
}
