@import "./../../../../assets/style/colors.scss";

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  height: 36px;
  background-color: $light-gray;
}

.logout {
  cursor: pointer;
}
