@import "./../../../../assets/style/colors.scss";

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 12px 24px;
  height: 36px;
  width: calc(100vw - 48px);
  background-color: $light-gray;
}

h1 {
  cursor: pointer;
}

.right-corner {
  display: flex;
  align-items: center;
  gap: 18px;
}

.welcome {
  span {
    cursor: pointer;
    &:hover {
      color: $gray;
    }
  }
}

.logout {
  display: flex;
  align-items: center;
  img {
    height: 36px;
    width: auto;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(16%)
      hue-rotate(338deg) brightness(93%) contrast(107%);
    &:hover {
      filter: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(1%)
        hue-rotate(153deg) brightness(93%) contrast(85%);
    }
  }
}
