<section>
  <div class="header">
    <div class="burger-menu">
      <img
        src="./../../../../assets/img/menu.svg"
        alt=""
        (click)="toggleNavbar(true)"
      />
    </div>
    <div class="headline">
      <h1 (click)="toggleEditBoard(true)">
        {{ displayBoardData("title") }}
      </h1>
      <app-user-initials
        [allBoards]="allBoards"
        [allUsers]="allUsers"
        [circles]="'members'"
        [showAddMember]="isUserBoardAuthor() ? true : false"
        (openAddMemberOverview)="toggleAddMember($event)"
      ></app-user-initials>
    </div>
  </div>
  <div class="right-corner">
    <div class="welcome">
      Welcome,
      <span (click)="userOverviewOpen()">{{ currentUsername() }}</span>
    </div>
    <div class="logout" (click)="logout()">
      <img src="./../../../../assets/img/logout.svg" alt="" />
    </div>
  </div>
</section>
@if (openNavbar) {
<app-navbar
  (closeNavbar)="toggleNavbar($event)"
  (openLink)="openLink($event)"
></app-navbar>
} @if (openEditBoard) {
<app-edit-board
  [allTasks]="allTasks"
  [allBoards]="allBoards"
  [boardOpen]="'openEditBoard'"
  (closeEditBoard)="toggleEditBoard($event)"
></app-edit-board>
} @if (openAddBoard) {
<app-edit-board
  [allTasks]="allTasks"
  [allBoards]="allBoards"
  [boardOpen]="'openAddBoard'"
  (closeAddBoard)="toggleAddBoard($event)"
></app-edit-board>
} @if (openSwitchBoard) {
<app-edit-board
  [allBoards]="allBoards"
  [boardOpen]="'openSwitchBoard'"
  (closeSwitchBoard)="toggleSwitchBoard($event)"
></app-edit-board>
} @if (openAddMember) {
<app-add-member
  [allBoards]="allBoards"
  [allUsers]="allUsers"
  [allTasks]="allTasks"
  [displayBoardData]="displayBoardData"
  (closeAddMemberOverview)="toggleAddMember($event)"
></app-add-member>
}
