@import "./../../../../../assets/style/colors.scss";

.content {
  width: 320px;
  height: 460px;
  border-radius: 6px;
  border: 1px solid $gray;
  background-color: $white;
  padding: 24px;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 48px;
    margin-bottom: 12px;
  }
  .headline {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
}

.ul-headline {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 6px;
}

ul {
  padding-left: 20px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    &:hover {
      background-color: $light-gray;
    }
    img {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 24px;
      height: 24px;
      filter: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(1%)
        hue-rotate(153deg) brightness(93%) contrast(85%);
      &:hover {
        filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(16%)
          hue-rotate(338deg) brightness(93%) contrast(107%);
      }
    }
  }
}

.spacer {
  padding: 12px;
}

// Buttons

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  img {
    width: 36px;
    height: auto;
    margin: 6px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(1%)
      hue-rotate(153deg) brightness(93%) contrast(85%);
    &:hover {
      filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(16%)
        hue-rotate(338deg) brightness(93%) contrast(107%);
    }
  }
}

// Overlay

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: rgba($color: #000000, $alpha: 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
