<div class="overlay" (click)="addMemberOverviewClose()">
  <div class="overlay-content" (click)="stopPropagation($event)">
    <div class="content">
      <div class="header">
        <div class="headline">Add Member</div>
        <div class="btn-close">
          <img
            id="edit-board-close-img"
            src="./../../../../assets/img/close.svg"
            alt=""
            (click)="addMemberOverviewClose()"
          />
        </div>
      </div>
      <div class="ul-headline">
        All members from {{ displayBoardData("title") }}:
      </div>
      <!-- -->
      @for (user of sharedService.getAssignedUsers(allUsers, allTasks); track
      user) {
      <ul>
        <li>
          {{ user.first_name | initials }}{{ user.last_name | initials }}
          -
          {{ user.first_name }} {{ user.last_name }}
        </li>
      </ul>
      }
    </div>
  </div>
</div>
