<div class="overlay" (click)="addMemberOverviewClose()">
  <div class="overlay-content" (click)="stopPropagation($event)">
    <div class="content">
      <div class="header">
        <div class="headline">Add Member</div>
        <div class="btn-close">
          <img
            id="edit-board-close-img"
            src="./../../../../assets/img/close.svg"
            alt=""
            (click)="addMemberOverviewClose()"
          />
        </div>
      </div>
      <div class="ul-headline">
        Members from {{ displayBoardData("title") }}:
      </div>
      @for (member of getAllBoardMembers(); track member) {
      <ul>
        <li>
          {{ displayMemberData(member).first_name | initials
          }}{{ displayMemberData(member).last_name | initials }}
          -
          {{ displayMemberData(member).first_name }}
          {{ displayMemberData(member).last_name }}
        </li>
      </ul>
      }
      <div class="spacer"></div>
      <form
        id="form"
        class="form"
        #addMemberForm="ngForm"
        (change)="onSubmit(addMemberForm)"
      >
        <app-form-field
          [(ngModel)]="addMember"
          field="addMember"
          name="addMember"
          text="Add Member:"
          id="addMember"
          type="text"
          #addMember="ngModel"
          [allUsers]="allUsers"
        ></app-form-field>
      </form>
    </div>
  </div>
</div>
