@import "./../../../../assets/style/colors.scss";

.btn-submit {
  padding: 6px 18px;
  width: fit-content;
  box-shadow: 1px 1px 3px $gray;
  border: 1px solid $light-gray;
  border-radius: 3px;
  background-color: $white;
  font-size: 18px;
  font-weight: 600;
  transition: 125ms ease-in-out;
  cursor: pointer;
  &:hover {
    border: 1px solid $gray;
    background-color: $light-gray;
  }
}
