@import "./../../../../assets/style/colors.scss";

section {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: $taskGreen;
  border: 1px solid darken($taskGreen, 50%);
  border-radius: 3px;
  width: calc(100% - 24px);
}
