@import "./../../../../assets/style/colors.scss";

section {
  position: relative;
  padding: 12px;
  background-color: var(--taskColor);
  border: 1px solid var(--taskBorderColor);
  border-radius: 3px;
  width: calc(100% - 24px);
  margin-bottom: 12px;
  cursor: pointer;
  p {
    width: 92.5%;
  }
  .dotted-line {
    margin: 12px 0;
    border: 1px dashed var(--taskBorderColor);
  }
  .description,
  .subtasks,
  .date {
    height: fit-content;
    span {
      text-decoration: underline;
    }
    p {
      padding-bottom: 6px;
    }
  }
}

.priority-img {
  position: absolute;
  top: 5px;
  right: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 12px;
  .members {
    display: flex;
    gap: 6px;
  }
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    height: 24px;
    width: 24px;
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
    border-radius: 100%;
    border: 1px solid var(--taskBorderColor);
  }
}

.images {
  display: flex;
  align-items: center;
  gap: 12px;
}

.description-svg,
.subtasks-svg,
.calendar-svg {
  height: 24px;
  img {
    height: 24px;
    width: auto;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(1%)
      hue-rotate(153deg) brightness(93%) contrast(85%);
    &:hover {
      filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(16%)
        hue-rotate(338deg) brightness(93%) contrast(107%);
    }
  }
}
