@for (task of allTasks; track task) {
<!-- -->
@if (task.status === content) {
<section
  [ngStyle]="{
    '--taskColor': findColor(task.color).color,
    '--taskBorderColor': findColor(task.color).borderColor
  }"
  (click)="openTask(task.id)"
  draggable="true"
  (dragstart)="
    dragDropService.startDragging($event, task.id, task.status); startDragging()
  "
>
  <p>{{ task.title }}</p>
  @if (task.description) {
  <div class="footer">
    <div class="page-svg" (click)="toggleDescription(task.id, $event)">
      <img src="./../../../../assets/img/page.svg" alt="" />
    </div>
    @for (user of allUsers; track user) {
    <div class="members">
      @if (task.author === user.id) {
      {{ firstLetter(user.first_name) }}{{ firstLetter(user.last_name) }} }
    </div>
    }
  </div>
  @if (openDescription && openDescriptionTaskId === task.id) {
  <div class="dotted-line"></div>
  <div class="description">
    <p>{{ task.description }}</p>
  </div>
  } }
</section>
} }
