@import "./../../../../assets/style/colors.scss";

section {
  padding: 12px;
  background-color: var(--taskColor);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: calc(100% - 24px);
  margin-bottom: 12px;
  .dotted-line {
    margin: 12px 0;
    border: 1px dashed rgba(0, 0, 0, 0.2);
  }
  .description {
    height: fit-content;
    p {
      padding-bottom: 6px;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 12px;
  .members {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    height: 24px;
    width: 24px;
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.page-svg {
  height: 24px;
  img {
    height: 24px;
    width: auto;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(1%)
      hue-rotate(153deg) brightness(93%) contrast(85%);
    &:hover {
      filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(16%)
        hue-rotate(338deg) brightness(93%) contrast(107%);
    }
  }
}
