<section>
  <div class="login">
    <div class="headline">Register</div>
    <form
      id="form"
      #taskForm="ngForm"
      (ngSubmit)="onSubmit(taskForm)"
      onsubmit="return false"
    >
      <div class="input-fields">
        <input
          type="text"
          id="text"
          name="text"
          #firstName="ngModel"
          placeholder="First Name"
          class="custom-input"
          autocomplete="new-password"
          [(ngModel)]="loginData.firstName"
          required
        />
        @if(!loginData.firstName) {
        <img class="custom-img" src="./../../../assets/img/user.svg" alt="" />
        } @else {
        <img class="custom-img" alt="" />
        }
        <div class="error-msg">
          @if (!firstName.valid && firstName.touched) {
          <p>Please enter your first name</p>
          }
        </div>
        <input
          type="text"
          id="text"
          name="text"
          #lastName="ngModel"
          placeholder="Last Name"
          class="custom-input"
          autocomplete="new-password"
          [(ngModel)]="loginData.lastName"
          required
        />
        @if(!loginData.lastName) {
        <img class="custom-img" src="./../../../assets/img/user.svg" alt="" />
        } @else {
        <img class="custom-img" alt="" />
        }
        <div class="error-msg">
          @if (!lastName.valid && lastName.touched) {
          <p>Please enter your last name</p>
          }
        </div>
        <input
          type="mail"
          id="mail"
          name="mail"
          #mail="ngModel"
          placeholder="Mail"
          class="custom-input"
          autocomplete="new-password"
          [(ngModel)]="loginData.mail"
          required
        />
        @if(!loginData.mail) {
        <img class="custom-img" src="./../../../assets/img/mail.svg" alt="" />
        } @else {
        <img class="custom-img" alt="" />
        }
        <div class="error-msg">
          @if (!mail.valid && mail.touched) {
          <p>Please enter your email</p>
          } @if (authService.errorMsg.email) {
          <p>{{ authService.errorMsg.email }}</p>
          }
        </div>
        <input
          type="password"
          id="password"
          name="password"
          #password="ngModel"
          [type]="authService.passwordFieldType"
          placeholder="Password"
          class="custom-input"
          autocomplete="new-password"
          pattern="[^<>]*"
          [(ngModel)]="loginData.password"
          minlength="6"
          required
        />
        @if(!loginData.password) {
        <img class="custom-img" src="./../../../assets/img/lock.svg" alt="" />
        } @else {
        <img
          class="passwordEye"
          *ngIf="isPasswordIconVisible"
          (click)="authService.togglePasswordVisibility()"
          [src]="authService.passwordIcon"
        />
        }
        <div class="error-msg">
          @if (loginData.password.length < 6 && password.touched) {
          <p>Password is too short, min 6 characters</p>
          }
        </div>
        <input
          type="password"
          id="password_confirm"
          name="password_confirm"
          #passwordConfirm="ngModel"
          [type]="authService.passwordFieldType"
          placeholder="Confirm Password"
          class="custom-input"
          autocomplete="new-password"
          pattern="[^<>]*"
          [(ngModel)]="loginData.passwordConfirm"
          minlength="6"
          required
        />
        @if(!loginData.passwordConfirm) {
        <img class="custom-img" src="./../../../assets/img/lock.svg" alt="" />
        } @else {
        <img
          class="passwordEyeConfirm"
          *ngIf="isPasswordIconVisible"
          (click)="authService.togglePasswordVisibility()"
          [src]="authService.passwordIcon"
        />
        }
        <div class="error-msg">
          @if (loginData.password !== loginData.passwordConfirm &&
          passwordConfirm.touched) {
          <p>The passwords do not match</p>
          }
        </div>
      </div>
      <div class="buttons">
        <app-form-btn
          [class]="'btn-submit'"
          [type]="'submit'"
          [value]="'Register'"
          [disabled]="
            firstName.invalid ||
            lastName.invalid ||
            password.invalid ||
            passwordConfirm.invalid ||
            loginData.password !== loginData.passwordConfirm ||
            !ifUserEmailIsValid(loginData.mail)
          "
        ></app-form-btn>
      </div>
    </form>
  </div>
  <div class="back-to-login">
    <a routerLink="/login/">Back to the login</a>
  </div>
</section>
