/* COLORS */
$white: #fff;
$black: #000;
$gray: #ababab;
$light-gray: #f2f2f2;

$taskGreen: #dbffc2;
$taskBlue: #cce3ff;
$taskYellow: #ffffe0;
$taskRed: #ffccd1;
$taskPurple: #eddbff;
$taskOrange: #feebc1;
$taskMagenta: #ffe0ff;
$taskCyan: #dbffff;
