@if (authService.isUserLogin) {
<app-header></app-header>
<section>
  <div class="status">
    <div class="header">
      <p>To-do</p>
      <div class="img">
        <img
          src="./../../../assets/img/add.svg"
          alt="+"
          (click)="addTask('todo')"
        />
      </div>
    </div>
    <div
      class="content"
      (dragover)="dragDropService.allowDrop($event, 'todo')"
      (drop)="dragDropService.drop($event, 'todo')"
    >
      <app-view-task
        [content]="'todo'"
        [allTasks]="allTasks"
        [allUsers]="allUsers"
        (openTaskOverview)="toggleTaskOverview($event)"
        (startDraggingStatus)="startDraggingStatus = $event"
      ></app-view-task>
    </div>
  </div>
  <div class="status">
    <div class="header">
      <p>Do today</p>
      <div class="img">
        <img
          src="./../../../assets/img/add.svg"
          alt="+"
          (click)="addTask('dotoday')"
        />
      </div>
    </div>
    <div
      class="content"
      (dragover)="dragDropService.allowDrop($event, 'dotoday')"
      (drop)="dragDropService.drop($event, 'dotoday')"
    >
      <app-view-task
        [content]="'dotoday'"
        [allTasks]="allTasks"
        [allUsers]="allUsers"
        (openTaskOverview)="toggleTaskOverview($event)"
        (startDraggingStatus)="startDraggingStatus = $event"
      ></app-view-task>
    </div>
  </div>
  <div class="status">
    <div class="header">
      <p>In progress</p>
      <div class="img">
        <img
          src="./../../../assets/img/add.svg"
          alt="+"
          (click)="addTask('inprogress')"
        />
      </div>
    </div>
    <div
      class="content"
      (dragover)="dragDropService.allowDrop($event, 'inprogress')"
      (drop)="dragDropService.drop($event, 'inprogress')"
    >
      <app-view-task
        [content]="'inprogress'"
        [allTasks]="allTasks"
        [allUsers]="allUsers"
        (openTaskOverview)="toggleTaskOverview($event)"
        (startDraggingStatus)="startDraggingStatus = $event"
      ></app-view-task>
    </div>
  </div>
  <div class="status">
    <div class="header">
      <p>Done</p>
      <div class="img">
        <img
          src="./../../../assets/img/add.svg"
          alt="+"
          (click)="addTask('done')"
        />
      </div>
    </div>
    <div
      class="content"
      (dragover)="dragDropService.allowDrop($event, 'done')"
      (drop)="dragDropService.drop($event, 'done')"
    >
      <app-view-task
        [content]="'done'"
        [allTasks]="allTasks"
        [allUsers]="allUsers"
        (openTaskOverview)="toggleTaskOverview($event)"
        (startDraggingStatus)="startDraggingStatus = $event"
      ></app-view-task>
    </div>
  </div>
</section>

@if(openCurrentTaskOverview) {
<app-add-task
  [currentTaskId]="openCurrentTaskOverview"
  [allTasks]="allTasks"
  [allUsers]="allUsers"
  (closeTaskOverview)="toggleTaskOverview($event)"
  (taskUpdated)="handleTaskUpdate($event)"
  (taskCreated)="handleTaskCreated($event)"
  (taskDeleted)="handleTaskDeletion($event)"
></app-add-task>
} }
