@import "./../../../assets/style/colors.scss";

section {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 0;
  padding: 0 12px 12px 12px;
  background-color: $light-gray;
  width: calc(100% - 24px);
  height: calc(100vh - 84px);
}

.upper,
.lower {
  display: flex;
  width: 100%;
}

.status {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100vh - 74px);
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    height: 48px;
    border: 1px solid $gray;
    background-color: $light-gray;
    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 46px;
      height: 46px;
      img {
        width: 36px;
        height: auto;
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(56%) sepia(89%)
          saturate(390%) hue-rotate(76deg) brightness(97%) contrast(87%);
        &:hover {
          filter: brightness(0) saturate(100%) invert(0%) sepia(0%)
            saturate(16%) hue-rotate(338deg) brightness(93%) contrast(107%);
        }
      }
    }
  }

  .content {
    width: calc(100% - 24px);
    height: 100%;
    border: 1px solid $gray;
    border-top: 0px;
    background-color: $white;
    padding: 12px;
  }
}

// Media

@media screen and (max-width: 1024px) {
  section {
    height: auto;
    flex-direction: column;
  }

  .status {
    height: calc(50vh - 35px);
  }

  .content {
    width: calc(100% - 26px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
// Media

@media screen and (max-width: 600px) {
  .status {
    width: 100%;
  }

  .upper,
  .lower {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  section {
    top: 80px;
  }
}
