<section>
  <div class="status">
    <div class="header">
      <p>To-do</p>
      <div class="img">
        <img src="./../../../assets/img/add.svg" alt="+" />
      </div>
    </div>
    <div class="content"></div>
  </div>
  <div class="status">
    <div class="header">
      <p>Do today</p>
      <div class="img">
        <img src="./../../../assets/img/add.svg" alt="+" />
      </div>
    </div>
    <div class="content"></div>
  </div>
  <div class="status">
    <div class="header">
      <p>In progress</p>
      <div class="img">
        <img src="./../../../assets/img/add.svg" alt="+" />
      </div>
    </div>
    <div class="content"></div>
  </div>
  <div class="status">
    <div class="header">
      <p>Done</p>
      <div class="img">
        <img src="./../../../assets/img/add.svg" alt="+" />
      </div>
    </div>
    <div class="content"></div>
  </div>
</section>
