<div class="input-container">
  @if (field === 'input') {
  <input
    [type]="type"
    [id]="id"
    placeholder=""
    class="input-field"
    autocomplete="new-password"
    [value]="value"
    (blur)="onTouched()"
    (input)="onInput($event)"
    [disabled]="disabled"
  />
  } @if (field === 'switchBoard') {
  <select
    [id]="id"
    placeholder=""
    class="input-field"
    autocomplete="new-password"
    [value]=""
    (blur)="onTouched()"
    (input)="onInput($event)"
    [disabled]="disabled"
  >
    @for (board of allBoards; track board) {
    <!-- -->
    @if (board.id == dbService.getCurrentBoard()) {
    <option value="{{ board.id }}" selected>{{ board.title }}</option>
    } @else {
    <option value="{{ board.id }}">{{ board.title }}</option>
    } }
  </select>
  }
  <div class="input-label">{{ text }}</div>
</div>
