<div class="input-container">
  @if (field === 'input') {
  <input
    [type]="type"
    [id]="id"
    placeholder=""
    class="input-field"
    autocomplete="new-password"
    [value]="value"
    (blur)="onTouched()"
    (input)="onInput($event)"
    [disabled]="disabled"
    [ngStyle]="{
      '--bgColor': colorBg,
      '--borderColor': colorBorder
    }"
  />
  } @if (field === 'textarea') {
  <textarea
    [id]="id"
    placeholder=""
    class="input-field"
    autocomplete="new-password"
    [value]="value"
    (blur)="onTouched()"
    (input)="onInput($event)"
    rows="3"
    [ngStyle]="{
      '--bgColor': colorBg,
      '--borderColor': colorBorder
    }"
  ></textarea>
  } @if (field === 'switchBoard') {
  <select
    [id]="id"
    placeholder=""
    class="input-field"
    autocomplete="new-password"
    [value]=""
    (blur)="onTouched()"
    (input)="onInput($event)"
  >
    @for (board of allBoards; track board) {
    <!-- Selected current board -->
    @if (board.id == dbService.getCurrentBoard()) {
    <option value="{{ board.id }}" selected>{{ board.title }}</option>
    } @else {
    <option value="{{ board.id }}">{{ board.title }}</option>
    } }
  </select>
  } @if (field === 'addMember') {
  <select
    [id]="id"
    placeholder=""
    class="input-field"
    autocomplete="new-password"
    [value]=""
    (blur)="onTouched()"
    (input)="onInput($event)"
    [disabled]="disabled"
  >
    <option value="0" selected>add member</option>
    @for (user of allUsers; track user) {
    <!-- User is not a board member -->
    @if (isNotBoardMember(user.id)) {
    <option value="{{ user.id }}">
      {{ user.first_name }} {{ user.last_name }}
    </option>
    } }
  </select>
  }
  <div class="input-label" [ngClass]="{ textarea: field === 'textarea' }">
    {{ text }}
  </div>
</div>
