<div class="input-container">
  @if (field === 'input') {
  <input
    [type]="type"
    [id]="id"
    placeholder=""
    class="input-field"
    autocomplete="new-password"
    [value]="value"
    (blur)="onTouched()"
    (input)="onInput($event)"
    [disabled]="disabled"
    [ngStyle]="{
      '--bgColor': colorBg,
      '--borderColor': colorBorder
    }"
  />
  } @if (field === 'textarea') {
  <textarea
    [id]="id"
    placeholder=""
    class="input-field"
    autocomplete="new-password"
    [value]="value"
    (blur)="onTouched()"
    (input)="onInput($event)"
    rows="3"
    [ngStyle]="{
      '--bgColor': colorBg,
      '--borderColor': colorBorder
    }"
  ></textarea>
  <!-- Selected fields -->
  } @if (field === 'switchBoard' || field === 'addMember' || field ===
  'addTaskPriority' || field === 'addTaskAssigned' || field === 'addTaskColor')
  {
  <select
    [id]="id"
    placeholder=""
    class="input-field"
    autocomplete="new-password"
    [value]=""
    (blur)="onTouched()"
    (input)="onInput($event)"
    [ngStyle]="{
      '--bgColor': colorBg,
      '--borderColor': colorBorder
    }"
  >
    @if (field === 'switchBoard') { @for (board of allBoards; track board) {
    <!-- Selected current board -->
    @if (board.id == dbService.getCurrentBoard()) {
    <option value="{{ board.id }}" selected>{{ board.title }}</option>
    } @else {
    <option value="{{ board.id }}">{{ board.title }}</option>
    } } } @if (field === 'addMember') {
    <option value="0" selected>add member</option>
    @for (user of allUsers; track user) {
    <!-- User is not a board member -->
    @if (isNotBoardMember(user.id)) {
    <option value="{{ user.id }}">
      {{ user.first_name }} {{ user.last_name }}
    </option>
    } } } @if (field === 'addTaskPriority') {
    <option value="low" [selected]="value === 'low'">Low</option>
    <option value="medium" [selected]="value === 'medium'">Medium</option>
    <option value="high" [selected]="value === 'high'">High</option>
    } @if (field === 'addTaskAssigned') {
    <option value="null">assign someone</option>
    @for (assigned of getAllBoardMembers; track assigned) {
    <!-- No display if the member has already been assigned -->
    <option value="{{ assigned }}">
      {{ displayMemberData(assigned, "first_name") }}
      {{ displayMemberData(assigned, "last_name") }}
    </option>
    } } @if (field === 'addTaskColor') {
    <option value="yellow" [selected]="value === 'yellow'">Yellow</option>
    <option value="green" [selected]="value === 'green'">Green</option>
    <option value="blue" [selected]="value === 'blue'">Blue</option>
    <option value="red" [selected]="value === 'red'">Red</option>
    <option value="orange" [selected]="value === 'orange'">Orange</option>
    <option value="purple" [selected]="value === 'purple'">Purple</option>
    <option value="magenta" [selected]="value === 'magenta'">Magenta</option>
    <option value="cyan" [selected]="value === 'cyan'">Cyan</option>
    }
  </select>
  }
  <div class="input-label" [ngClass]="{ textarea: field === 'textarea' }">
    {{ text }}
  </div>
</div>
