@import "./../../../../../assets/style/colors.scss";

section {
  position: relative;
}

#edit-board {
  position: absolute;
  top: 60px;
  left: 24px;
  background-color: $white;
  border: 1px solid $medium-gray;
  border-radius: 3px;
  box-shadow: 5px 5px 5px $medium-gray;
  width: 280px;
  height: 360px;
  z-index: 5;
  padding: 24px;
}

.content {
  position: relative;
  height: 170px;
}

.form {
  padding-top: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.headline {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  width: 80%;
  padding-left: 10%;
}

.input-fields {
  display: flex;
  flex-direction: column;
  width: 97%;
}

.error-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  padding: 3px;
  width: 100%;
  p {
    color: $red;
    font-size: 12px !important;
    font-weight: 400 !important;
  }
}

.spacer {
  height: 72px;
}

// Buttons

.button {
  position: absolute;
  bottom: 12px;
  right: 0;
}

.btn-close {
  text-align: end;
  width: 20%;
  height: 48px;
  img {
    width: 36px;
    height: auto;
    margin: 6px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(1%)
      hue-rotate(153deg) brightness(93%) contrast(85%);
    &:hover {
      filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(16%)
        hue-rotate(338deg) brightness(93%) contrast(107%);
    }
  }
}
