<div class="overlay" (click)="boardOverviewClose()">
  <div class="overlay-content" (click)="stopPropagation($event)">
    <div class="content">
      @if(boardOpen === "openEditBoard") {
      <!-- -->
      @if (isUserBoardAuthor()) {
      <div class="header">
        <div class="headline">Edit Board Name</div>
        <div class="btn-close">
          <img
            id="edit-board-close-img"
            src="./../../../../assets/img/close.svg"
            alt=""
            (click)="boardOverviewClose()"
          />
        </div>
      </div>
      <div class="edit-board">
        <form
          id="onSubmitEditBoard"
          #boardFormEdit="ngForm"
          (ngSubmit)="onSubmitEditBoard(boardFormEdit)"
          onsubmit="return false"
        >
          <div class="input-fields">
            <app-form-field
              [(ngModel)]="boardData.title"
              field="input"
              name="title"
              text="Board Name:"
              id="boardName"
              type="text"
              #boardName="ngModel"
              required
            ></app-form-field>
            <div class="error-msg">
              @if (!boardName.valid && boardName.touched) {
              <p>Please enter a board name</p>
              }
            </div>
            <div class="buttons">
              @if (hasUserMoreThanOneBoard()) {
              <app-form-btn
                [class]="'btn-submit'"
                [type]="'button'"
                (click)="deleteBoard()"
                [value]="'Delete'"
              ></app-form-btn>
              }
              <app-form-btn
                [class]="'btn-submit'"
                [type]="'submit'"
                [value]="'Update'"
                [disabled]="!boardName.valid || isInputNew()"
              ></app-form-btn>
            </div>
          </div>
        </form>
      </div>
      } @else {
      <div class="header">
        <div class="headline">Leave Board</div>
        <div class="btn-close">
          <img
            id="edit-board-close-img"
            src="./../../../../assets/img/close.svg"
            alt=""
            (click)="boardOverviewClose()"
          />
        </div>
      </div>
      <div class="edit-board-empty">
        <div class="buttons">
          <app-form-btn
            [class]="'btn-submit'"
            [type]="'button'"
            (click)="leaveCurrentBoard()"
            [value]="'Leave'"
          ></app-form-btn>
        </div>
      </div>
      }} @if(boardOpen === "openAddBoard") {
      <div class="header">
        <div class="headline">Add New Board</div>
        <div class="btn-close">
          <img
            id="edit-board-close-img"
            src="./../../../../assets/img/close.svg"
            alt=""
            (click)="boardOverviewClose()"
          />
        </div>
      </div>
      <div class="edit-board">
        <form
          id="onSubmitNewBoard"
          #boardFormNew="ngForm"
          (ngSubmit)="onSubmitNewBoard(boardFormNew)"
          onsubmit="return false"
        >
          <div class="input-fields">
            <app-form-field
              [(ngModel)]="boardData.newBoard"
              field="input"
              name="newBoard"
              text="New Board Name:"
              id="newBoard"
              type="text"
              minlength="6"
              #newBoard="ngModel"
              required
            ></app-form-field>
            <div class="error-msg">
              @if (!newBoard.valid && newBoard.touched) {
              <p>Please enter a board name</p>
              }
            </div>
            <div class="buttons">
              <app-form-btn
                [class]="'btn-submit'"
                [type]="'submit'"
                [value]="'Add Board'"
                [disabled]="!newBoard.valid"
              ></app-form-btn>
            </div>
          </div>
        </form>
      </div>
      } @if(boardOpen === "openSwitchBoard") {
      <div class="header">
        <div class="headline">Switch Board</div>
        <div class="btn-close">
          <img
            id="edit-board-close-img"
            src="./../../../../assets/img/close.svg"
            alt=""
            (click)="boardOverviewClose()"
          />
        </div>
      </div>
      <form
        id="onSubmitSwitch"
        class="form"
        #boardSwitchForm="ngForm"
        (change)="onSubmitSwitch(boardSwitchForm)"
      >
        <app-form-field
          [(ngModel)]="boardData.initialTitle"
          field="switchBoard"
          name="initialTitle"
          text="Switch Board:"
          id="switchBoard"
          type="text"
          #switchBoard="ngModel"
          [allBoards]="allBoards"
        ></app-form-field>
      </form>
      }
    </div>
  </div>
</div>
